.wrapper:has(.carousel) {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper:not(:has(.carousel)) {
    min-height: 80vh;
}

.file-upload-container {
    width: 100%; /* Adjust the width as needed */
    overflow: hidden; /* Ensures the actual input doesn't spill out of the container */
}

input[type="file"] {
    width: 100%; /* Ensure the input fills the container, stretching out the clickable area */
}
.image-preview{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.image-preview img{
    position: relative;
    width: 300px !important;
    margin-right: 30px;
}

.login-btn{
    transition: all 350ms ease;
}

.login-btn:hover{
    text-decoration: none;
}

.wrapper > div > nav{
    display: flex;
    flex-direction: column;
}

.left-deshboard-btns {
    margin: 1rem 0;
    /* width: 25vw;  */
    width: 10vw; 
    height: 5vh;
    border: none;
}

.btn-selected{
    background-color: red !important;
}