.wrapper {
    min-height: 80vh;
}

.file-upload-container {
    width: 150px; /* Adjust the width as needed */
    overflow: hidden; /* Ensures the actual input doesn't spill out of the container */
}

input[type="file"] {
    width: 100%; /* Ensure the input fills the container, stretching out the clickable area */
}

