.red{
    color: red;
}

.wrapper:has(.carousel) {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper:not(:has(.carousel)) {
    min-height: 80vh;
}

.file-upload-container {
    width: 100%; /* Adjust the width as needed */
    overflow: hidden; /* Ensures the actual input doesn't spill out of the container */
}

input[type="file"] {
    width: 100%; /* Ensure the input fills the container, stretching out the clickable area */
}
.image-preview{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.image-preview img{
    position: relative;
    width: 300px !important;
    margin-right: 30px;
}

.login-btn{
    transition: all 350ms ease;
}

.login-btn:hover{
    text-decoration: none;
}

.wrapper > div > nav{
    display: flex;
    flex-direction: column;
}

.left-deshboard-btns {
    margin: 1rem 0;
    /* width: 25vw;  */
    width: 10vw; 
    /* height: 5vh; */
    border: none;
}

.btn-selected{
    background-color: red !important;
}

.passwordChangeModal {
    display: block; /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure the modal is on top */
    backdrop-filter: blur(5px); /* Apply blur effect to background content */
}

/* Styles for the modal content */
.passwordChangeModal-content {
    background-color: #fff;
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply animation to badge */
.badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    animation: flash 1s infinite;
}